body {
    width: 1000px;
    padding: 20px;
    border: 2px solid grey;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* display: grid;
    justify-self: center;
    grid-template-rows: 20% 20% 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr; */
}
.board{
    border: 1px solid #0000ff; 
    padding: 20px;

}
.keyboard {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: inset -4px 3px 19px 9px #888888;
    /* to animate change background of keyboard from color1 to color 2 */
    animation: move 5s infinite;
}
/* to setting properties of change background of keyboard from color1 to color 2 */
@keyframes move {
    from {background-color: rgb(85, 119, 134);}
    to {background-color: rgb(185, 185, 214);}
  }

.row{
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boxes {
    border: 3px solid rgb(99, 96, 96);
    /* border-radius: 10px; */
    height: 60px;
    width: 60px;
    margin: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: larger;
    font-size: 41px;
    font-family: fangsong;
    box-shadow: 2px 10px #888888;
}
.key {
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin: 5px;
    font-size: 20px;
}
button.key.delete {
    flex-grow: 1;
}
button.key.enter {
    flex-grow: 1;
}
h1 {
    text-align: center;
    border-bottom: double;
    font-family: verdana;
}
h3 {
    text-align: center;
}
.matches {
     background-color: darkgreen;
}
.presentbutnotinpositon {
    background-color: orange;
}
.absent {
    background-color: gray;
}


