body {
    width: 1000px;
    padding: 20px;
    /* border: 2px solid grey; */
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;

    /* display: grid;
    justify-self: center;
    grid-template-rows: 20% 20% 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr; */
}
.board{
    padding: 20px;

}
.keyboard {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: inset -4px 3px 19px 9px #888888;
    /* to animate change background of keyboard from color1 to color 2 */
    animation: move 12s infinite;
}
/* to setting properties of change background of keyboard from color1 to color 2 */
@keyframes move {
    from {background-color: rgb(180, 190, 194);}
    to {background-color: rgb(106, 106, 110);}
  }

.row{
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boxes {
    border: 3px solid rgb(99, 96, 96);
    /* border-radius: 10px; */
    height: 60px;
    width: 60px;
    margin: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: larger;
    font-size: 41px;
    font-family: fangsong;
    box-shadow: 2px 10px #888888;
}
.key {
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin: 5px;
    font-size: 20px;
}
button.key.delete {
    flex-grow: 1;
}
button.key.enter {
    flex-grow: 1;
}
h1 {
    text-align: center;
    border-width: 3px;
    border-bottom: double;
    font-family: 'Almendra', serif;
    font-size: xxx-large;
    margin-top: 0;
}
.multicoloredtext {    
    background-image: linear-gradient(to left,indigo, green, orange, rgb(100, 96, 96));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    border-bottom: groove;
}
div#modal {
    text-align: center;
}   
h3 {
    text-align: center;
    font-family: cursive;
}
.matches {
     background-color: darkgreen;
}
.presentbutnotinpositon {
    background-color: orange;
}
.absent {
    background-color: gray;
}
button.refresh {
    border-radius: 10px;
    border: double;
    height: 79px;
    width: 100px;
    font-size: 20px;
    border: 3px double rebeccapurple;
    background-color: aliceblue;
    font-family: emoji;
}
h2#message {
    font-family: cursive;
}

